---
import Histogram from "@components/histogram.astro";
import Map from "@components/map.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Balneabilidade SC</title>
  </head>
  <body class="flex flex-col sm:flex-row h-screen w-full bg-slate-200">
    <div class="flex-[3]">
      <Map />
    </div>
    <div class="flex-1">
      <Histogram />
    </div>
  </body>
</html>
